html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* 
#365f33 verde Fuerte
#496d47     A
#5b7d5a     |
#6f8c6d     |
#839b81     |
#96ac95     |
#abbca9     |
#bfcdbe     |
#d3ddd4     |
#e9eee8 blanco verdoso
*/


.CuerpoPanelAdmninistrador{
  background-color: #e9eee8;
}

.SeccionResumen{
  background-color: #96ac95;
  border-radius: 20px;
  box-shadow: 2px 2px 6px #6f8c6daf;
}

.CajaResumen{
  background-color: #e9eee8;
  border-radius: 20px;
}

.CajaTabla{
  background-color: #bfcdbe; 
}

.BarraTabla{
  background-color: #e9eee8;
}

.BarraProgreso{
  background-color: #365f33;
}

p{
margin-bottom: 0px;
}

.btn-primary{
  background-color: #365f33;
  border-color: #365f33;
}

.btn-primary:hover{
  background-color: #bfcdbe;
  border-color: #bfcdbe;
  color: black;
}

.form-control{
  background-color: #e9eee8;
}

.form-control:focus{
  border-color: #365f33;
  box-shadow: 0 0 5px #365f33;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    background-color: #6F8C6D !important;
}

.title-home {
  color: #5b7d5a  !important;
}

.my-submit-button {
    background-color: #6F8C6D !important;
    border-width: 0;
    color: white;

}

.my-submit-button:hover
{
  color: white;
}

.my-submit-button.btn:active
{
     box-shadow: none;
}

.my-submit-button.btn:focus
{
    box-shadow: none;
}

.my-button {
    background-color: #839b81 !important;
    border-width: 0;
    color:white;
}

.my-button:hover
{
  background-color: #839b81 !important;
    border-width: 0;
    color:white;
}

.my-button.btn:active
{
  box-shadow: none;
}

.my-button.btn:focus
{
    box-shadow: none;
}


header {
    margin: 0;
    padding: 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.profile-img {
    height: 80%;
    object-fit: cover;
    border: 2px solid;
}


.profile-img-container img {
    max-width: 225px;
    max-height: 225px;
    width: 100%;
    height: auto;
}

.profile-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;

}

