* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color:#f2f2f2;
}

.tienda_wrapper {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

/* HEADER */

.tienda_wrapper header {
    width: 950px;
    max-width: 95vw;
    margin-top: 80px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 10px;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    color: #476c44;
}

.eco_points {
    background-color: #476c44;
    color: white;
    padding: 8px 18px;
    border-radius: 12px;
    font-weight: bold;
}

/* CONTENEDOR VERDE */

.contenedor {
    width: 1050px;
    max-width: 95vw;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: #d8e8d7;
}

/* LAYOUT GENERAL */

.tienda_layout {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* GRID DE OBJETOS */

.lista_objetos {
    flex: 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* CONTENEDOR DE CADA OBJETO */

.objeto{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:14px;
}

/* CUADRO BLANCO DEL ITEM */

.item_card{
    background:white;
    border-radius:16px;
    padding:20px;
    width:130px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* IMAGEN ITEM */

.item_card img{
    width:70px;
}

/* PRECIO */

.precio{
    margin-top:6px;
    font-weight:bold;
    color:#444;
}

/* BOTON COMPRAR */

.boton_comprar{
    background:#476c44;
    color:white;
    border:none;
    padding:6px 16px;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
    margin-top: 6px;
}

.boton_comprar:hover{
    background:#3c5d3a;
}

/* PANEL PERSONAJE */

.personaje {
    flex:1;
    min-width:260px;

    background-color: white;
    border-radius:20px;

    padding:20px;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* IMAGEN PERSONAJE */

.personaje img {
    width:170px;
}