* {
    font-family: Arial, Helvetica, sans-serif;
}


.tienda_wrapper {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* background-color: red; */
}

.contenedor {
    width: 1050px;
    max-width: 95vw;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
    /* background-color: aqua; */
    background-color: #d8e8d7;
}

.tienda_wrapper header {
    width: 950px;
    max-width: 95vw;
    margin-top: 100px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
    /* background-color: powderblue; */
    border-radius: 20px;
}

.eco_points {
    background-color: #476c44;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
}

.titulo {
    font-size: 26px;
    font-weight: bolder;
    color: #476c44;
}

.tienda_layout {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.lista_objetos {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    /* background-color: blueviolet; */
    background-color: #d8e8d7;
}

.lista_objetos .objeto {
    /* background-color: violet; */
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.lista_objetos .objeto img{
    width: 90%;
}
.personaje img {
    width: 90%;
}

.lista_objetos .objeto button {
    background-color: #476c44;
    font-weight: bolder;
    padding: 4px 4px;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
}
.personaje {
    flex:1;
    min-width:300px;
    /* background-color: orange; */
    background-color: white;
    border-radius:20px;
    padding:20px;
}