<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AWAQTrainingGrounds</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AWAQTrainingGrounds.styles.css" asp-append-version="true" />
</head>
<body>
    @if (!(ViewData["HideNavbar"] as bool? ?? false))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid d-flex justify-content-between align-items-center px-4">
                     <span class="title-home navbar-brand fw-bold">
                        AWAQTrainingGrounds
                    </span>

                    <div class = "d-flex gap-3 me-5">
                    
                        <a class="nav-link title-home fw-semibold border-bottom border-2 border-transparent hover-border" asp-area="" asp-controller="Home" asp-action="Profile">Perfil</a>
            
            
                        <a class="nav-link title-home fw-semibold border-bottom border-2 border-transparent hover-border" asp-area="" asp-controller="Tienda" asp-action="Tienda">Tienda</a>
               
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center ps-4">
            <span class="mb-3 mb-md-0 text-body-secondary">© AWAQ Campus Internship</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
  </html>

