@model AWAQTrainingGrounds.Models.UsuarioTienda

<link rel="stylesheet" href="~/css/style.css"/>

<div class="tienda_wrapper">

    <header>
        <div class="titulo">Tienda de accesorios</div>
        <div class="eco_points">@Model.PuntosActuales Monedas</div>
    </header>

    <div class="contenedor">

        <form asp-action="Comprar" method="post">

            <div class="tienda_layout">

                <div class="lista_objetos">

                    <div class="objeto">
                        <div class="item_card">
                            <img src="~/images/redshirtemma.png">
                            <div class="precio">$ 80</div>
                        </div>
                        <button class="boton_comprar" name="GastarPuntos" value="1">Comprar</button>
                    </div>

                    <div class="objeto">
                        <div class="item_card">
                            <img src="~/images/orangeshirtemma.png">
                            <div class="precio">$ 100</div>
                        </div>
                        <button class="boton_comprar" name="GastarPuntos" value="2">Comprar</button>
                    </div>

                    <div class="objeto">
                        <div class="item_card">
                            <img src="~/images/yellowshirtemma.png">
                            <div class="precio">$ 150</div>
                        </div>
                        <button class="boton_comprar" name="GastarPuntos" value="3">Comprar</button>
                    </div>

                    <div class="objeto">
                        <div class="item_card">
                            <img src="~/images/greenshirtemma.png">
                            <div class="precio">$ 200</div>
                        </div>
                        <button class="boton_comprar" name="GastarPuntos" value="4">Comprar</button>
                    </div>

                    <div class="objeto">
                        <div class="item_card">
                            <img src="~/images/blueshirtemma.png">
                            <div class="precio">$ 250</div>
                        </div>
                        <button class="boton_comprar" name="GastarPuntos" value="5">Comprar</button>
                    </div>

                    <div class="objeto">
                        <div class="item_card">
                            <img src="~/images/purpleshirtemma.png">
                            <div class="precio">$ 300</div>
                        </div>
                        <button class="boton_comprar" name="GastarPuntos" value="6">Comprar</button>
                    </div>

                </div>

                <div class="personaje">
                    <img src="@Url.Content(Model.RopaActual)">
                </div>

            </div>

        </form>

    </div>

</div>