@model AWAQTrainingGrounds.ViewModels.TiendaViewModel

<link rel="stylesheet" href="~/css/style.css"/>

<div class="tienda_wrapper">

    <header>
        <div class="titulo">Tienda de accesorios</div>
        <div class="eco_points">@Model.Usuario.PuntosActuales Monedas</div>
    </header>

    <div class="contenedor">

        <div class="tienda_layout">

            <div class="lista_objetos">

                @foreach (var item in Model.Cosmetics)
                {
                    <div class="objeto">
                        <div class="item_card">
                            <img src="~/images/@item.image_path">
                            <div class="precio">$ @item.price</div>
                        </div>

                        <form asp-action="Comprar" method="post">
                            <input type="hidden" name="id" value="@item.cosmetic_id" />
                            <button class="boton_comprar">Comprar</button>
                        </form>
                    </div>
                }

            </div>

            <div class="personaje">
                <img src="@Url.Content(Model.Usuario.RopaActual)">
            </div>

        </div>

    </div>

</div>